{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Recommend an Organization</h1>
      <p>State, local, Tribal, or territorial tech professionals can participate in the U.S. Tech Policy Network.</p>
      <a class="usa-button" href="javascript:void(0)">Join us</a>
    </div>
  </div>
</section>
