{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Harness the Power of Technology</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>This week, the White House Office of Science and Technology Policy (OSTP) convened a roundtable with state, local, Tribal, and territorial (SLTT) tech leaders to discuss ongoing efforts to harness the power of technology to benefit all Americans. Building a better America requires coordination across all levels of government, and technology and data are key enablers of the Biden-Harris Administration’s commitment to grow the economy from the middle out and bottom up. At the roundtable, senior Administration officials announced the launch of the U.S. Tech Policy Network—a conduit for sharing tech policy between federal and SLTT governments.</p>
      <p>At the roundtable, White House officials described benefits for security, equity, privacy, and accessibility that the U.S. Tech Policy Network could deliver for communities across the country. The U.S. Tech Policy Network will serve as a hub for disseminating federal tech policies and gathering input from SLTT tech leaders.</p>
    </div>
  </div>
</section>
